#header {
    text-align: center;
    background-color:#20417c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    color: #f1f1f1;
}

#menu{
    float:right;
    background-color:#20417c;
    padding: 10px;
    border:none;
    width:170px;
}


body{
    background-color:#ebeff6;
}

table{
    background-color:#f3f3f3;
    border:none;
}

td{
    font-family: sans-serif;
    padding:2px;
    border:none;
    text-align:center;
}


th{
    font-family: sans-serif;
    background-color:#20417c;
    color:#f1f1f1;
    border:none;
    padding:0px;
}

tr{
    border:none;
    padding:0px;
    height:30px;
}

#loginScreen{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}

#login{
    border-radius: 0px;
    border:solid;
    border-color:black;
    border-width:thin;
    width:50px;
    height:30px;
    background-color: cornflowerblue;
    -webkit-transition: width .2s;
    transition: width .2s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login:hover{
    width:60px;
}

#newUser{
    border-radius: 0px;
    border:solid;
    border-color:black;
    border-width:thin;
    width:120px;
    height:30px;
    background-color: cornflowerblue;
    -webkit-transition: width .2s;
    transition: width .2s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#newUser:hover{
    width:140px;
}

#message{
    background-color:slategray;
    background:linear-gradient(slategray,#5d6771);
    float:left;
    width:100%;
    height:auto;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    color:white;
}

.message{
    float:left;
    padding-left:5%;
    padding-right:5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#welcome{
    float: right;
    color:#20417c;
    padding-left:5%;
    padding-right:5%;
    text-shadow:0 0 5px #97a4bd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#even{
    border:none;
    padding:0px;
    background-color: #f1f2dd;
}

#myEven{
    background-color: #c0eebe;
}

#myOdd{
    background-color:#92db90;
}

#odd{
    background-color:#f3f3f3;
}

.delete{
    border:none;
    border-radius:50%;
    background-color:red;
    transition:width .2s, border-radius .2s, height .2s;
    width:19px;
    height:19px;
}

.delete:hover{
    width:100%;
    height:100%;
    border-radius:0%;
}

.menuButton{
    float:right;
    border-radius: 0px;
    border:solid;
    border-color:black;
    border-width:thin;
    padding-top:20px;
    padding-bottom:20px;
    width:90%;
    background-color: cornflowerblue;
    -webkit-transition: width .2s;
    transition: width .2s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuButton:hover{
    width: 100%;
}

