#menu{
    float:right;
    background-color:#C5CAE9;
    padding: 10px;
    margin:20px;
    margin-right:0px;
    margin-top:0px;
    border:none;
    width:170px;
}

body{
    background-color:#ebeff6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table{
    background-color:#f3f3f3;
    border:none;
}

td{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:2px;
    border:none;
    text-align:center;
}


th{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#607d8b;
    color:#ffffff;
    border:none;
    padding:0px;
}

tr{
    border:none;
    padding:0px;
    height:30px;
}

.inputScreen{
    align-self:center;
    align-content:center;
    align-items:center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}

.inputButton{
    border-radius: 0px;
    border:solid;
    border-color:black;
    border-width:thin;
    width:110px;
    height:30px;
    color:#ffffff;
    background-color: #3f51b5;
    -webkit-transition: width .2s;
    transition: width .2s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputButton:hover{
    width:130px;
}

#loginMessage{
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

#message{
    background-color:#3f51b5;
    float:left;
    width:100%;
    height:auto;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    color:white;
}

.message{
    float:left;
    padding-left:5%;
    padding-right:5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#welcome{
    float: right;
    color:#ffffff;
    padding-left:5%;
    padding-right:5%;
    /*text-shadow:0 0 5px #97a4bd;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#even{
    border:none;
    padding:0px;
    background-color: #eef29f;
}

#myEven{
    background-color: #c0eebe;
}

#myOdd{
    background-color:#92db90;
}

#odd{
    background-color:#f0f3b0;
}

.delete{
    border:none;
    border-radius:50%;
    background-color:red;
    transition:width .2s, border-radius .2s, height .2s;
    width:19px;
    height:19px;
}

.delete:hover{
    width:100%;
    height:100%;
    border-radius:0%;
}

.menuButton{
    float:right;
    border-radius: 0px;
    border:solid;
    border-color:black;
    border-width:thin;
    padding-top:20px;
    padding-bottom:20px;
    width:90%;
    color:#ffffff;
    background-color: #3f51b5;
    -webkit-transition: width .2s;
    transition: width .2s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuButton:hover{
    width: 100%;
}

